<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='{{url_for('static', filename='/css/Safetystyles.css') }}' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  </head>
    <h1>Upload and display image</h1>
    <p style = "margin-left: -200px;">Show image</p>
 
    <form method="POST" enctype="multipart/form-data" action="/">
        <input type="file" id="myFile" name="uploaded-file" accept=".jpg">
        <input type="submit" value="Submit">
    </form>
  <br>
  <p>File uploaded successfully</p>
  <form action="/show_image" target="_blank">
        <input type="submit" value="Display Image" />
    </form>
  </body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Worker Safety Check</title>
    <link rel="stylesheet" href="styles.css"> 
</head>
<body>
    <div class="container">
        <h1>Worker Safety Check</h1>
        <div class="upload-box">
            <label for="imageInput" id="uploadButton">Upload Image</label>
            <input type="file" id="imageInput" accept="image/*">
        </div>
        <div id="result"></div>
    </div>
</body>
</html> -->
